<footer class="container-fluid mt-1" role="contentinfo">
    <div>
        <div class="row">

            <div class="col-lg-3 footer_contact">
                <div class="p-3">
                    <h2>{{ contactInfo.company }}</h2>
                    <p>{{ contactInfo.address }}</p>
                    <p><em>P:</em> {{ contactInfo.phone }}</p>
                    <p><em>E:</em> <a [href]="'mailto:' + contactInfo.email">{{ contactInfo.email }}</a></p>
                </div>
            </div>

            <ng-container *ngFor="let section of linkSections">
                <div class="col-lg-3">
                    <div class="p-3 footer_support">
                        <h2>{{ section.title }}</h2>
                        <ul>
                            <li *ngFor="let item of section.items">
                                <a [routerLink]="item.routerLink" [title]="item.label">{{ item.label }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-container>

            <div class="col-lg-3">
                <div class="p-3 footer_follow">
                    <h2>Suivez-Nous</h2>
                    <ul class="list-unstyled d-flex gap-2 mt-3">
                        <li *ngFor="let social of socialLinks">
                            <a [href]="social.url" [attr.aria-label]="social.ariaLabel" target="_blank">
                                <i [class]="social.iconClass" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="p-3 footer_newsletter">
                    <h2>Newsletter</h2>
                    <p>Inscrivez-vous pour recevoir nos offres exclusives !</p>
                    <form (ngSubmit)="subscribeToNewsletter()">
                        <label for="newsletter-email" class="visually-hidden">Votre adresse
                            email</label>
                        <div class="input-group">
                            <input type="email" id="newsletter-email" class="form-control" placeholder="Votre email"
                                required aria-required="true" aria-label="Votre adresse email" name="newsletterEmail"
                                [(ngModel)]="newsletterEmail">
                            <button class="btn btn-dark" type="submit"
                                aria-label="S'inscrire à la newsletter">OK</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</footer>
<div class="bottom w-100 p-3">
    <p class="copy">{{ contactInfo.copyright }}</p>

    <nav>
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item" *ngFor="let link of bottomLinks">
                <a [routerLink]="link.routerLink" [title]="link.label">{{ link.label }}</a>
            </li>
        </ul>
    </nav>
</div>